<%- include('../partials/header') %>

<div class="container mx-auto px-6 py-2">
    <div class="md:flex flex-wrap">
        <!-- ! Card display starts here -->
        <!-- * Loop through products card -->
        <% product.forEach(function(product){ %>
            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-8">
                <div class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center" 
                style="background-image: url(<%= product.image %>)"></div>

                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                    <h3 class="py-2 text-center font-bold capitalize tracking-wide text-gray-800">
                        <%= product.title %>
                    </h3>

                    <p class="p-2 text-gray-600">
                        <%= product.description %> 
                    </p>

                    <div class="flex items-center justify-between py-2 px-3 bg-gray-200">
                        <span class="text-gray-800 font-bold ">
                            <%= product.price %> 
                        </span>

                        <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">
                            Add to cart
                        </button>
                    </div>
                </div>
            </div>    
        <% }); %>
        
    </div>
</div>

<%- include('../partials/footer') %>