<%- include('../partials/header') %>

<div class="container mx-auto px-8 py-2">
    <!-- ! Card display starts here -->
    <div class="sm:flex flex-wrap xl:mx-8 xl:grid xl:grid-cols-3">
        <!-- Loop through products card -->
        <% for (let product of products){ %>
            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-8">
                <div class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center" 
                style="background-image: url(<%= product.image %>)"></div>

                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">

                    <a class="block py-2 text-center md:text-lg font-bold capitalize tracking-wide text-gray-800 hover:text-red-500 hover:underline" href="shop/<%= product._id %> ">
                        <%= product.title %>
                    </a>

                    <div class="flex items-center justify-between py-4 px-3 bg-gray-200">
                        <span class="text-gray-800 font-bold ">
<<<<<<< HEAD
                            $<%= product.price %> 
=======
                            $ <%= product.price %> 
>>>>>>> 739e1b18440939aa007a9a3e5db35a72912e7d6a
                        </span>

                        <!-- * Add to cart form starts here -->
                        <form action="/">
                            <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-red-500">
                                <svg class="w-6 h-4 inline" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"></path></svg>
                                Add to cart
                            </button>    
                        </form>
                        <!-- * Add to cart form ends here -->
                    </div>
                </div>
            </div>    
        <% }; %>
    </div>
    <!-- ! Card display ends here -->

    
    <ul class="flex items-center justify-center m-4">
        <li class="mx-1 px-3 py-2 bg-gray-200 text-gray-500 rounded-lg">
            <a href="#" class="flex items-center font-bold cursor-not-allowed">
                <span class="mx-1">previous</span>
            </a>
        </li>

        <li class="mx-1 px-3 py-2 bg-gray-200 text-gray-700 hover:bg-red-500 hover:text-gray-200 rounded-lg">
            <a href="#" class="font-bold">1</a>
        </li>

        <li class="mx-1 px-3 py-2 bg-gray-200 text-gray-700 hover:bg-red-500 hover:text-gray-200 rounded-lg">
            <a href="#" class="font-bold">2</a>
        </li>

        <li class="mx-1 px-3 py-2 bg-gray-200 text-gray-700 hover:bg-red-500 hover:text-gray-200 rounded-lg">
            <a href="#" class="font-bold">3</a>
        </li>
        
        <li class="mx-1 px-3 py-2 bg-gray-200 text-gray-700 hover:bg-red-500 hover:text-gray-200 rounded-lg">
            <a href="#" class="flex items-center font-bold">
                <span class="mx-1">Next</span>
            </a>
        </li>
    </ul>

</div>

<%- include('../partials/footer') %>